body{
background:#111;
color:white;
font-family:Arial;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #444;
padding:6px;
}

td{
background:#222;
}

input{
width:100%;
}
